span {
    display: block;
    height: 100%;
    animation: spin_words 10s infinite;
    font-size: 4.5rem;
    font-family: Helvetica, sans-serif;
    font-weight:500;
}

@media (max-width: 768px) {
    span {
        font-size: 3rem;
        text-align: center;
    }
    .wrapper {
        height: 70px;
    }
}

@media (max-width: 640px) {
    
}

.wrapper{
    background-color: transparent;
    height: 105px;
    display: flex;
    width: 100%;
}

.words {
    overflow: hidden;
    width: 100%;
}

@keyframes spin_words {
    30% {
        transform: translateY(0%);
    }
    33% {
        transform: translateY(-100%);
    }
    63% {
        transform: translateY(-100%);
    }
    67% {
        transform: translateY(-200%);
    }
    97% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(-300%);
    }
}

/* @keyframes spin_words{
    10% {
        transform: translateY(0%);
    }
    12.5%{
        transform: translateY(-100%);
    }
    22.5% {
        transform: translateY(-100%);
    }
    25%{
        transform: translateY(-200%);
    }
    35% {
        transform: translateY(-200%);
    }
    37.5%{
        transform: translateY(-300%);
    }
    47.5% {
        transform: translateY(-300%);
    }
    50%{
        transform: translateY(-400%);
    }
    60% {
        transform: translateY(-400%);
    }
    62.5%{
        transform: translateY(-500%);
    }
    72.5% {
        transform: translateY(-500%);
    }
    75%{
        transform: translateY(-600%);
    }
    85% {
        transform: translateY(-600%);
    }
    87.5%{
        transform: translateY(-700%);
    }
    97.5% {
        transform: translateY(-700%);
    }
    100%{
        transform: translateY(-800%);
    }
} */