.preview-container {
    height: 800px;
    width: 100%;
}


  .background-image {
    position: absolute;
    z-index: -1;
    background: url('../../public/Home BG.svg');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    width: 100%;
    opacity: 1;
  }

  
  @media (max-width: 768px) {
    .background-image {
      opacity: 0.5;
    }
  }

  @media (max-width: px) {
    .projects-container {
        margin-top: -48px;
    }
  }
  